In [8]:
import numpy as np
import pandas as pd
import os

In [9]:
path="C:\\Workplace\\C#\\Test\\immonium_mass_neh\\immonium_mass\\bin\\x64\\Debug\\"
data=pd.DataFrame()

for f in ["Liver_l0.csv"]:
    
    data=pd.concat([data,pd.read_csv(path+f)])
    
    
data["ion_count"]=[ len(str(x).split('|')) for x in data[["values"]].values]
print(data.shape)
data=data[data.ion_count>=2]
data=data.reset_index(drop=True)
print(data.shape)

(26187, 8)
(15339, 8)

In [44]:
res=[]
peps=[]
count=0
for i in range(data.shape[0]): 
    temp=np.unique([ int(float(x)*100)/100 for x in data["values"][i].split("|")])
    if 'R' not in data["peptide"][i] and 'V' not in data["peptide"][i]  and 70.06 in temp:
        res.append(temp)
        peps.append((data["peptide"][i]))
        count+=1
print(count)

309

In [45]:
df=pd.DataFrame()
df["pep"]=peps
df["vals"]=res

In [46]:
print(len(peps))
pd.DataFrame(np.unique([j for i in [list(np.unique(list(x))) for x in peps] for j in i],return_counts=True))

309

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,A,C,D,E,F,G,H,I,K,L,M,N,P,Q,S,T,W,Y
1,184,18,87,109,124,139,40,150,291,234,79,61,103,53,114,86,31,73

In [47]:
df_mzs=pd.DataFrame(np.unique([j for i in df.vals for j in i],return_counts=True)).transpose()
df_mzs.columns=["mz","count_s"]
df_mzs=df_mzs[df_mzs.count_s>100]
df_mzs=df_mzs.sort_values(by="mz").reset_index(drop=True)
df_mzs.head()

      mz  count_s
0  69.07    116.0
1  70.06    309.0
2  72.08    278.0
3  72.10    117.0
4  74.06    166.0

In [48]:
mz_dict={mz:{"aas":[],"count":0} for mz in df_mzs.mz}
print(df.shape[0])
_mzs=set(df_mzs.mz)
for i in range(df.shape[0]):
#     print(i)
#     temp_mz_vals=[x for x in df["vals"][i] if x in list(df_mzs.mz)]
    
    temp_mz_vals=set(df["vals"][i]).intersection(_mzs)
        
    for mz_val in temp_mz_vals:
        mz_dict[mz_val]["aas"]+= list(np.unique(list(df["pep"][i])))
        mz_dict[mz_val]["count"]+=1 
    
    if i%10000==0:
        print(i)

309
0

In [49]:
# print(mz_dict[70.0]['count'])
# print(mz_dict[70.0]['aas'].count('W'))
# # np.unique(mz_dict[82.91]['aas'],return_counts=True)

In [50]:
aas=(['A' ,'C', 'D' ,'E', 'F', 'G', 'H', 'I' ,'K', 'L', 'M', 'N' ,'P' ,'Q' ,'R' ,'S', 'T', 'V', 'W' ,'Y'])

In [51]:
res=[]
for key in mz_dict.keys():
    _temp_count=mz_dict[key]['count']
    _temp_aas=mz_dict[key]['aas']
    
    _temp_res=[key,_temp_count] + [_temp_aas.count(c)/_temp_count for c in aas]
#     _temp_res=[key,_temp_count] + [x if x >0.7 else 0 for x in [_temp_aas.count(c)/_temp_count for c in aas]]
    res.append(_temp_res)    
    print(key)

69.07
70.06
72.08
72.1
74.06
79.88
79.89
84.04
84.08
86.09
87.05
87.1
89.01
99.79
101.07
102.05
104.05
110.07
112.65
120.08
121.08
129.1

In [52]:
res=pd.DataFrame(res)
res.columns=["mz","count"]+sorted([x for x in (aas)])
res.to_csv("test_Liver_l0.csv",index=False)

In [53]:
res.head(20)

,mz,count,A,C,D,E,F,G,H,I,...,M,N,P,Q,R,S,T,V,W,Y
0,69.07,116,0.577586,0.017241,0.232759,0.327586,0.448276,0.465517,0.077586,0.724138,...,0.198276,0.172414,0.310345,0.146552,0.0,0.336207,0.310345,0.0,0.051724,0.163793
1,70.06,309,0.595469,0.058252,0.281553,0.352751,0.401294,0.449838,0.129450,0.485437,...,0.255663,0.197411,0.333333,0.171521,0.0,0.368932,0.278317,0.0,0.100324,0.236246
2,72.08,278,0.607914,0.057554,0.276978,0.356115,0.417266,0.431655,0.125899,0.485612,...,0.262590,0.183453,0.305755,0.176259,0.0,0.381295,0.276978,0.0,0.097122,0.219424
3,72.10,117,0.555556,0.085470,0.290598,0.358974,0.393162,0.444444,0.162393,0.487179,...,0.247863,0.205128,0.333333,0.162393,0.0,0.393162,0.316239,0.0,0.094017,0.256410
4,74.06,166,0.638554,0.054217,0.246988,0.325301,0.379518,0.433735,0.144578,0.475904,...,0.301205,0.192771,0.283133,0.156627,0.0,0.367470,0.397590,0.0,0.114458,0.210843
5,79.88,112,0.589286,0.080357,0.285714,0.312500,0.419643,0.491071,0.125000,0.446429,...,0.267857,0.196429,0.366071,0.125000,0.0,0.375000,0.258929,0.0,0.133929,0.241071
6,79.89,104,0.528846,0.057692,0.307692,0.384615,0.423077,0.519231,0.153846,0.480769,...,0.201923,0.211538,0.336538,0.192308,0.0,0.317308,0.259615,0.0,0.076923,0.240385
7,84.04,231,0.588745,0.064935,0.264069,0.389610,0.428571,0.402597,0.151515,0.471861,...,0.268398,0.207792,0.272727,0.220779,0.0,0.389610,0.298701,0.0,0.108225,0.225108
8,84.08,304,0.588816,0.059211,0.286184,0.351974,0.398026,0.450658,0.128289,0.490132,...,0.259868,0.197368,0.325658,0.174342,0.0,0.375000,0.282895,0.0,0.101974,0.233553
9,86.09,308,0.594156,0.058442,0.282468,0.350649,0.399351,0.451299,0.129870,0.487013,...,0.256494,0.198052,0.331169,0.172078,0.0,0.370130,0.279221,0.0,0.100649,0.233766
10,87.05,121,0.595041,0.041322,0.256198,0.347107,0.421488,0.347107,0.132231,0.512397,...,0.322314,0.446281,0.322314,0.140496,0.0,0.413223,0.247934,0.0,0.123967,0.223140
11,87.10,213,0.586854,0.046948,0.272300,0.328638,0.389671,0.460094,0.107981,0.563380,...,0.230047,0.187793,0.333333,0.140845,0.0,0.375587,0.286385,0.0,0.075117,0.197183
12,89.01,140,0.571429,0.057143,0.292857,0.364286,0.421429,0.414286,0.171429,0.471429,...,0.264286,0.192857,0.350000,0.164286,0.0,0.357143,0.300000,0.0,0.092857,0.235714
13,99.79,165,0.581818,0.078788,0.327273,0.357576,0.418182,0.472727,0.139394,0.478788,...,0.236364,0.163636,0.375758,0.163636,0.0,0.375758,0.284848,0.0,0.133333,0.218182
14,101.07,180,0.594444,0.055556,0.250000,0.338889,0.372222,0.444444,0.144444,0.466667,...,0.316667,0.222222,0.300000,0.288889,0.0,0.383333,0.305556,0.0,0.127778,0.227778
15,102.05,173,0.566474,0.046243,0.271676,0.468208,0.468208,0.346821,0.144509,0.462428,...,0.283237,0.219653,0.277457,0.190751,0.0,0.416185,0.271676,0.0,0.086705,0.231214
16,104.05,149,0.590604,0.060403,0.241611,0.322148,0.422819,0.422819,0.120805,0.469799,...,0.489933,0.241611,0.234899,0.154362,0.0,0.389262,0.295302,0.0,0.107383,0.201342
17,110.07,257,0.587549,0.062257,0.280156,0.369650,0.396887,0.428016,0.155642,0.482490,...,0.260700,0.190661,0.284047,0.186770,0.0,0.385214,0.295720,0.0,0.105058,0.225681
18,112.65,145,0.613793,0.048276,0.275862,0.303448,0.448276,0.475862,0.096552,0.462069,...,0.262069,0.193103,0.365517,0.137931,0.0,0.386207,0.317241,0.0,0.131034,0.255172
19,120.08,269,0.605948,0.040892,0.278810,0.353160,0.460967,0.416357,0.118959,0.472119,...,0.271375,0.200743,0.308550,0.152416,0.0,0.356877,0.263941,0.0,0.115242,0.230483

In [43]:
net_file=[]
for i in range(res.shape[0]):
    _temp_mz=res.mz[i]
    for aa in sorted([x for x in (aas)]):
        net_file.append([_temp_mz,aa,res[aa][i]/100])

In [42]:
# pd.DataFrame(net_file).to_csv("net_test.txt",index=False)

In [14]:
data=pd.read_csv("Liver_l0.csv")
data["ion_count"]=[ len(str(x).split('|')) for x in data[["values"]].values]

In [15]:
print(data.shape)
data=data[data.ion_count>=2]
data=data.reset_index(drop=True)
print(data.shape)

(26187, 8)
(15339, 8)

In [16]:
res=[]
peps=[]
count=0
for i in range(data.shape[0]): 
    temp=[ int(float(x)*100)/100 for x in data["values"][i].split("|")]
    res.append(temp)
    peps.append((data["peptide"][i]))
    count+=1
print(count)

15339

In [17]:
_test=[]
for i in res:
    _test+=i
    
_test=pd.DataFrame(np.unique(_test,return_counts=True)).transpose()
_test.columns=['x','c']
_test=_test.sort_values(by='c',ascending=False)
mzs=list(_test.head(40).x)

In [18]:
df=pd.DataFrame()
df["pep"]=peps
df["vals"]=res

In [19]:
data_dict={}

for i in range(df.shape[0]):
    
    print(df.pep[i])
    for aa in list(np.unique([x for x in df.pep[i]])):
        if aa in data_dict.keys(): 
            data_dict[aa]["vals"]=data_dict[aa]["vals"]+[ x for x in list( list(np.unique([x for x in df.vals[i]])) ) if x in mzs]
            data_dict[aa]["count"]+=1
            
            if (aa=='P'):
                print ([ x for x in list( list(np.unique([x for x in df.vals[i]])) ) if x in mzs])
            
        else:
            data_dict[aa]={"vals":list(np.unique([x for x in df.vals[i]])),"count":1}
            
            if (aa=='P'):
                print ([ x for x in list( list(np.unique([x for x in df.vals[i]])) ) if x in mzs])
            
    if i >100: break
#     for v in vals:
#         if v in data_dict.keys():
#             data_dict[v]["aa"]=data_dict[v]["aa"]+list( list(np.unique([x for x in df.pep[i]])) )
#             data_dict[v]["count"]+=1
#         else:
#             data_dict[v]={"aa":list(np.unique([x for x in df.pep[i]])),"count":1}

DADPILR
[70.06, 79.89, 84.08, 86.09, 87.05, 89.01, 99.79, 120.08, 129.1]
CGVELFK
AMLSTGFK
AMLSTGFK
LFAEAVQK
LFAEAVQK
IITGLAAGAK
NLAVPLYK
[70.06, 72.08, 79.88, 84.08, 86.09, 87.05, 87.1, 89.01, 99.79, 112.65, 120.08, 128.17, 129.1]
NLAVPLYK
[70.06, 72.08, 79.88, 84.04, 84.08, 86.09, 87.05, 87.1, 89.01, 99.79, 101.1, 110.07, 112.65, 120.08, 128.17, 129.1]
YMESDGIK
VVAVDCGIK
VVAVDCGIK
MSLDEIVR
NCGVELFK
TNQILVER
EVEMDAVGK
EVEMDAVGK
ETLIDLGTK
APMFSWPR
[70.06, 72.08, 79.88, 86.09, 89.01, 99.79, 104.05, 110.07, 112.65, 115.08, 120.08]
APMFSWPR
[70.06, 99.78, 104.05, 112.08, 120.08, 128.17]
APMFSWPR
[70.06, 72.08, 79.89, 84.04, 84.08, 86.09, 87.05, 89.01, 99.79, 101.07, 102.05, 104.05, 110.07, 112.08, 112.66, 115.08, 120.08, 121.08, 128.18, 129.1]
EVEMDAVGK
HLGIVGECN
TFEESFQK
TFEESFQK
TFEESFQK
GTTITSVLPK
[72.08, 74.06, 79.88, 84.04, 84.08, 86.09, 99.78, 102.05, 112.65, 113.07, 129.1]
GTTITSVLPK
[74.06, 79.88, 84.04, 84.08, 86.09, 99.78, 112.65, 113.07, 128.17, 129.1]
SVGEVMAIGR
KNIHPWVK
[72.08, 84.08, 86.09, 89.01, 99.79, 101.1, 110.07, 120.08, 129.1]
EIEYEVVR
EIEYEVVR
QTISQGAIEK
NMSLDEIVR
EWPANLDLK
[79.88, 84.04, 84.08, 86.09, 89.0, 91.05, 99.78, 102.05, 110.07, 120.08, 128.17, 129.1]
EWPANLDLK
[84.04, 84.08, 86.09, 87.05, 89.0, 99.78, 102.05, 112.64, 129.1]
EWPANLDLK
[79.89, 84.04, 84.08, 86.09, 89.01, 99.79, 129.1]
EWPANLDLK
[79.88, 84.04, 84.08, 86.09, 99.78, 102.05, 120.08, 129.1]
VPAIYGVDTR
[84.04, 84.08, 86.09, 89.01, 99.79, 120.08, 129.1]
SNAEFQMLR
QNLIAEVSTK
QNLIAEVSTK
KETLIDLGTK
MGTSPLQIDR
[79.88, 84.04, 84.08, 86.09, 87.05, 87.1, 89.01, 99.79, 101.07, 102.05, 104.05, 110.07, 112.08, 112.65, 113.07, 115.08, 116.07, 120.08, 128.17, 129.1]
VMIGESIDEK
VMIGESIDEK
MRDILNMDK
CLGLTEAQTR
CLGLTEAQTR
FVHDNYVIR
FVHDNYVIR
IALGIPLPEIK
[84.04, 84.08, 86.09, 87.1, 101.07, 110.07, 112.65, 115.08, 120.08, 127.08, 128.17, 129.1]
IALGIPLPEIK
[84.08, 86.09, 87.1, 99.8, 102.05, 110.07, 112.66, 120.08, 129.1]
IALGIPLPEIK
[84.08, 86.09, 112.66, 128.18, 129.1]
IALGIPLPEIK
[84.08, 86.09, 87.1, 89.0, 99.79, 110.07, 115.08, 116.07, 120.08, 121.08, 129.1]
IALGIPLPEIK
[84.04, 84.08, 86.09, 87.05, 87.1, 89.01, 91.05, 99.79, 101.07, 102.05, 104.05, 110.07, 112.65, 120.08, 121.08, 128.17, 129.1]
TAVDSGIALLTN
TAHIVLEDGTK
TAHIVLEDGTK
TAHIVLEDGTK
NVVFSEDEMK
SLGQWLQEEK
SIFSAVLDELK
SIFSAVLDELK
SIFSAVLDELK
SIFSAVLDELK
SIFSAVLDELK
SIFSAVLDELK
SIFSAVLDELK
IMGTSPLQIDR
[86.09, 101.07, 104.05, 120.08]
IMGTSPLQIDR
[86.09, 87.1, 89.01, 99.79, 104.05, 110.07, 112.65, 113.07, 116.07, 120.08, 129.06, 129.1]
IMGTSPLQIDR
[86.09, 87.1, 89.0, 99.78, 101.07, 102.05, 104.05, 110.07, 112.65, 115.08, 116.07, 120.08, 128.17, 129.1]
GILIGIQQSFR
GILIGIQQSFR
GILIGIQQSFR
VSQEHPVVLTK
[86.09, 101.07, 110.07, 111.07, 120.08, 121.08, 129.1]
VSQEHPVVLTK
[86.09, 99.8, 101.07, 101.1, 110.07, 129.1]
VSQEHPVVLTK
[86.09, 99.8, 101.07, 110.07, 113.07, 129.06, 129.1]
QAFITAQNHGY
QAFITAQNHGY
TALNCGVELFK
IASVQTNEVGLK
IASVQTNEVGLK
STGNIITGLAAGAK
TLGVDFIDVATK
TLGVDFIDVATK
TLGVDFIDVATK
LYFEELSLER
LYFEELSLER
VTYNGQEHDIK
AADTIGYPVMIR
[91.05, 99.78, 101.07, 104.05, 112.64, 115.08, 119.04, 120.08, 128.17, 129.06, 129.1]
AADTIGYPVMIR
[112.65, 115.08, 120.08, 128.17]
AADTIGYPVMIR
[91.05, 99.79, 101.07, 102.05, 104.05, 110.07, 112.08, 112.65, 115.08, 120.08, 127.08, 128.17, 129.06, 129.1]
TAVDSGIALLTNF
TSVESIMATEDR
GQILTMANPIIGN
[99.8, 101.07, 103.05, 104.05, 110.07, 112.66, 120.08, 121.08, 129.06]
SNDYNHWLATK
SNDYNHWLATK
NVVFSEDEMKR
NVVFSEDEMKR
GQNQPVLNITNR
[99.79, 101.07, 110.07, 112.08, 112.65, 113.07, 115.08, 116.07, 120.08, 128.17, 129.06, 129.1]
GQNQPVLNITNR
[99.78, 102.05, 110.07, 112.08, 112.65, 120.08, 129.06, 129.1]

In [20]:
# aas=sorted(['A' ,'C', 'D' ,'E', 'F', 'G', 'H', 'I' ,'K', 'L', 'M', 'N' ,'P' ,'Q' ,'R' ,'S', 'T', 'V', 'W' ,'Y'])
_index=[]
vals=[]

for k in data_dict.keys():
    _count=data_dict[k]["count"]
    if(_count>1000):
        temp_count=[]
        for c in mzs:
            temp_count.append(100*data_dict[k]["vals"].count(c)/_count)
        vals.append(temp_count)
        _index.append(k)
    break

In [21]:
xx=pd.DataFrame(np.unique(data_dict["P"]['vals'],return_counts=True)).transpose()
xx[xx.iloc[:,0]==70.06]

# data_dict.keys()

       0    1
7  70.06  6.0

In [22]:
len(vals)

0

In [23]:
_vals=pd.DataFrame(vals)
_vals.columns=mzs
# _vals["mz"]=_index
_vals.index=_index
_vals=_vals.sort_index()
# _vals=_vals.sort_values(by="mz")
_vals.transpose().to_csv("aa_percentage2.csv")

ValueError: Length mismatch: Expected axis has 0 elements, new values have 40 elements

In [ ]:
_vals

In [ ]:
import seaborn as sns
from matplotlib import pyplot as plt
plt.figure(figsize=(40,20))
dataplot = sns.heatmap(_vals.round(2), cmap="YlGnBu", annot=True)
plt.savefig("_vals.jpeg",dpx=900)#,bbox_inches='tight'
plt.show()

In [ ]:
_index=[]
_seq=[]
_per=[]
for k in data_dict.keys():
    if(len(data_dict[k])>1000):
        print(k,"\t ==> \t",len(data_dict[k]))
        x,y=(np.unique(data_dict[k],return_counts=True))
        y=[ int(10000*i/sum(y))/100 for i in y]
#         print(x,y)
        
        temp=set(['A' ,'C', 'D' ,'E', 'F', 'G', 'H', 'I' ,'K', 'L', 'M', 'N' ,'P' ,'Q' ,'R' ,'S', 'T', 'V', 'W' ,'Y']) -set(list(x))
        
        for c in temp:
            x.append(c)
            y.append(0)
        
        _index.append(k)
        _seq.append(list(x))
        _per.append(y)

In [ ]:
res=[]
peps=""
count=0
for i in range(data.shape[0]): 
    temp=[ int(float(x)*100)/100 for x in data["values"][i].split("|")]
#     print(min(temp))
    if min(temp)< 70 and (70.06  in temp) :
        count+=1
print(count)

In [ ]:
res=[]
peps=""
count=0
for i in range(data.shape[0]): 
    temp=[ int(float(x)*100)/100 for x in data["values"][i].split("|")]
#     print(min(temp))
    if min(temp)<=70.06 and 70.06 in temp  and ("P" not in data.peptide[i] and  "R" not in data.peptide[i]): #or "N" in data.peptide[i] or "D" in data.peptide[i]): #or "K" in data.peptide[i] ) :
#         print(data.peptide[i])
        peps+="".join(np.unique([ x for x in data.peptide[i]]))
        res+= [ int(float(x)*100)/100 for x in data["values"][i].split("|")]
        count+=1
print(count)

In [ ]:
temp=pd.DataFrame(np.unique(res,return_counts=True)).transpose()
temp.columns=["mz","freq"]
temp=temp[temp.freq>10].reset_index(drop=True)
temp=temp.sort_values(by="freq",ascending=False).reset_index(drop=True)
temp.head(10)

In [ ]:
temp=pd.DataFrame(np.unique([x for x in peps],return_counts=True)).transpose()
temp.columns=["mz","freq"]
temp=temp[temp.freq>10].reset_index(drop=True)
temp=temp.sort_values(by="freq",ascending=False).reset_index(drop=True)
temp.head(20)

In [ ]:
res=[]
peps=""
_pepts=""
count=0
for i in range(data.shape[0]):
    temp=[ int(float(x)*10)/10 for x in data["values"][i].split("|")]
    if ((70.0 in temp) and ("P"  not  in data.peptide[i].strip()) ):
#         print(data.peptide[i])
        peps+="".join(np.unique([ x for x in data.peptide[i]]))
        _pepts+=","+data.peptide[i]
        res+= [ int(float(x)*100)/100 for x in data["values"][i].split("|")]
        count+=1
print(count)

In [ ]:
temp=pd.DataFrame(np.unique(res,return_counts=True)).transpose()
temp.columns=["mz","freq"]
temp=temp[temp.freq>10].reset_index(drop=True)
temp=temp.sort_values(by="freq",ascending=False).reset_index(drop=True)
temp.head(10)

In [ ]:
temp=pd.DataFrame(np.unique([x for x in peps],return_counts=True)).transpose()
temp.columns=["mz","freq"]
temp=temp[temp.freq>10].reset_index(drop=True)
temp=temp.sort_values(by="freq",ascending=False).reset_index(drop=True)
temp.head(20)

In [ ]:
res=[]
for i in [x for x in _pepts.split(',') if len(x)>0]:
#     print(i)
#     print(list(combinations(i, 2)))
    for j in range(1,len(i)):
        res.append(i[j-1:j+1])
#         print(i[j-1:j+1])

In [ ]:
temp=pd.DataFrame(np.unique(res,return_counts=True)).transpose()
temp.columns=["aa","counts"]
temp=temp.sort_values(by="counts",ascending=False).reset_index(drop=True)
temp.head(20)

In [ ]:
res=[]
peps=""
count=0
for i in range(data.shape[0]):
    temp=[ int(float(x)*10)/10 for x in data["values"][i].split("|")]
    if ((70.0 in temp) and (72.0 in temp) and min(temp)<=70 ):# and ("P"  not  in data.peptide[i].strip()) ):
        peps+="".join(np.unique([ x for x in data.peptide[i]]))
        res+= [ int(float(x)*100)/100 for x in data["values"][i].split("|")]
        if (("I"    in data.peptide[i].strip()) or
           ("L"    in data.peptide[i].strip()) or
           ("V"    in data.peptide[i].strip())):
            count+=1
print(count)

In [ ]:
775/815

In [ ]:
temp=pd.DataFrame(np.unique([x for x in peps],return_counts=True)).transpose()
temp.columns=["mz","freq"]
temp=temp[temp.freq>10].reset_index(drop=True)
temp=temp.sort_values(by="freq",ascending=False).reset_index(drop=True)
temp.head(20)

In [ ]:
[x.strip() for x in sorted(['do-2-10pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_008.mzML    '
,'do-2-12p5pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_009.mzid    '
,'do-2-12p5pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_009.mzML  '
,'do-2-15pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_010.mzid      '
,'do-2-15pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_010.mzML    '
,'do-2-17p5pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_011.mzid    '
,'do-2-17p5pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_011.mzML  '
,'do-2-20pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_012.mzid      '
,'do-2-20pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_012.mzML    '
,'do-2-50pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_013.mzid      '
,'do-2-50pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_013.mzML    '
,'do-2-5pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_006.mzid       '
,'do-2-5pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_006.mzML     '
,'do-2-7p5pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_007.mzid    '
,'do-2-7p5pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_007.mzML   ']) if ".mzid" in x]

In [ ]:
[x.strip().replace('.mzML','.csv') for x in sorted(['do-2-10pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_008.mzML    '
,'do-2-12p5pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_009.mzid    '
,'do-2-12p5pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_009.mzML  '
,'do-2-15pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_010.mzid      '
,'do-2-15pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_010.mzML    '
,'do-2-17p5pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_011.mzid    '
,'do-2-17p5pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_011.mzML  '
,'do-2-20pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_012.mzid      '
,'do-2-20pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_012.mzML    '
,'do-2-50pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_013.mzid      '
,'do-2-50pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_013.mzML    '
,'do-2-5pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_006.mzid       '
,'do-2-5pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_006.mzML     '
,'do-2-7p5pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_007.mzid    '
,'do-2-7p5pct_90mingrad_60OTit_1p3s_cycletime_E_wr_03Feb23_007.mzML   ']) if ".mzML" in x]